<nav class="navbar navbar-pf-vertical">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a href="/" class="navbar-brand">
      <img class="navbar-brand-name" src="/assets/img/brand-alt.svg" alt="Red Hat JBoss BPM Suite" />
      <img class="navbar-brand-name" src="/assets/img/project-alt.svg" alt="Workflow Driven UI" />
    </a>
  </div>
  <nav class="collapse navbar-collapse">
    <ul class="nav navbar-nav navbar-right navbar-iconic navbar-utility">
      <li class="nav-item-iconic">
          <span title="{{(userService.user | async)?.username | default: 'Guest'}}" class="fa pficon-user"></span>
          {{(userService.user | async)?.name}}
      </li>
    </ul>
  </nav>
</nav>
