<div class="row">
  <div class="col-sm-12">
    <div class="form-group">
      <pfng-empty-state [config]="emptyStateConfig" (onActionSelect)="handleAction($event)"></pfng-empty-state>
    </div>
  </div>
</div>
