<div class="container">
<form (ngSubmit) = "onSubmit()" #customerForm="ngForm">
<div class="form-group">
  <label for="name">Name</label>
  <input type="text" class="form-control" id="name"
         required
         [(ngModel)]="model.name" name="name">
</div>
</form>

</div>
